<div class="form_wrapper">

  <div class="form_title">
		<p class="form_title_main">Не можете выбрать?</p>
		<p class="form_title_desc">Заполните форму, мы свяжемся с вами и поможем подобрать лучшую площадку для новогоднего праздника.</p>
	</div>

  <form class="form_block" action="/ajax/form">

    <div class="form_inputs">
    
      <div class="input_wrapper _big">
        <div class="input_label">Как Вас зовут</div>
        <input type="text" name="name" data-required/>
      </div>
      <div class="input_wrapper _big">
        <div class="input_label">Номер телефона</div>
        <input type="text" name="phone" data-required/>
      </div>
      <div class="input_wrapper _big">
        <div class="input_label">Вопрос</div>
        <input type="text" name="question" data-required/>
      </div>
      <div class="input_wrapper _big">
        <div class="input_label">Бюджет</div>
        <input type="text" name="budget" data-required/>
      </div>
      <div class="input_wrapper _big">
        <div class="input_label">Эл. почта</div>
        <input type="text" name="email" data-required/>
      </div>
      <div class="input_wrapper _big">
        <div class="input_label">Дата</div>
        <input type="text" name="date" data-required/>
      </div>

    </div>

    <div class="form_checkboxes">

      <div class="checkbox_item">
				<input type="checkbox" name="restaurant"/>
				<div class="checkbox_pseudo" data-action="form_checkbox">Ресторан</div>
			</div>

      <div class="checkbox_item">
				<input type="checkbox" name="banquet_hall"/>
				<div class="checkbox_pseudo" data-action="form_checkbox">Банкетный зал</div>
			</div>

      <div class="checkbox_item">
				<input type="checkbox" name="hall_3"/>
				<div class="checkbox_pseudo" data-action="form_checkbox">Название третьего зала</div>
			</div>

      <div class="checkbox_item">
				<input type="checkbox" name="hall_4"/>
				<div class="checkbox_pseudo" data-action="form_checkbox">Название четвёртого зала</div>
			</div>

    </div>

    <div class="form_submit_booking">
			<button class="_button">Забронировать</button>
			<div class="form_policy checkbox_item">
				<input type="checkbox" name="policy" class="personalData" checked="">
				<p class="checkbox_pseudo">Я согласен с <a class="_link">политикой обработки персональных данных</a></p>
			</div>
		</div>

    <div class="form_submit_callback">
			<button class="_button">Отправить</button>
			<div class="form_policy checkbox_item">
				<input type="checkbox" name="policy" class="personalData" checked="">
				<p class="checkbox_pseudo">Я согласен с <a class="_link">политикой обработки персональных данных</a></p>
			</div>
		</div>

  </form>
  
</div>