.form_wrapper.callback {
  display: flex;
  width: 954px;
  padding: 20px 120px 50px 120px;
  flex-flow: column nowrap;
  align-items: center;
  background: linear-gradient(139.76deg,
                            #FEDA5A 0.69%,
                            #FFBA35 112.92%);
  box-shadow: 0px 5px 20px rgba(253, 172, 77, 0.3);

  @include for-pad{
    width: 532px;
    padding: 20px 20px 32px 20px;
  }

  @include for-mobile{
    width: 100%;
    margin: 50px 0;
    padding: 25px 15px 50px 15px;
  }

  .form_title{
    display: flex;
    flex-flow: column nowrap;
    width: 709px;

    @include for-pad{
      width: 532px;
    }

    @include for-mobile{
      width: 100%;

      .form_title_main{
        font-size: 28px;
        line-height: 32px;
        margin: 0;
        text-align: center;
      }
    }

    .form_title_main{
      color: #000000;
    }
    .form_title_desc{
      color: #333333;
      text-align: center;
      margin-top: 10px;
    }
  }

  .form_block{
    display: flex;
    flex-flow: column wrap;

    @include for-mobile{
      width: 100%;
      align-items: center;
    }


    .form_inputs {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      width: 709px;
      height: 170px;

      @include for-pad{
        width: 492px;
        height: 258px;
        flex-flow: row wrap;
      }

      @include for-mobile{
        width: 100%;
        height: 324px;
        flex-flow: column nowrap;
        align-items: center;
      }


      .input_wrapper{
        width: 243px;
        margin-bottom: 19px;

        @include for-pad{
          width: 200px;
        }

        @include for-mobile{
          width: 100%;
          margin: 0 0 10px 0;
        }

        input{
          border: none;
          background: white;
          box-shadow: inset 0px 1px 2px rgba(140, 140, 140, 0.5);
        }

        textarea{
          background: white;
          width: 435px;
          height: 126px;
          resize: none;
          box-shadow: inset 0px 1px 2px rgba(140, 140, 140, 0.5);
          border-radius: 2px;

          @include for-mobile {
            width: 100%;
          }
        }
      }

      .input_wrapper:nth-child(3) {
        width: 435px;

        @include for-mobile{
          width: 100%;
        }
      }

      .input_wrapper:nth-child(n + 4){
        display: none;
      }
    }

    .form_submit_callback{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;

      @include for-pad{
        margin-top: 0;
        flex-flow: column nowrap;

        .form_policy{
          margin-top: 10px;
        }
      }

      @include for-mobile{
        margin-top: 0;
        flex-flow: column nowrap;

        .form_policy{
          margin-top: 10px;
        }
      }

      ._button{
        width: 130px;
        height: 50px;
        margin-right: 10px;
        padding: 0 20px;
      }

      .form_policy{
        
      }
    }

  }

}

